<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <script>
    
  </script>
</head>

<body>

  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Berdikari Bank Churning Predictions</h1>
      <p class="lead">This is a simple application to predict whether a customer will churn or not using XGBoost.</p>
      <hr class="my-4">
      <p>Fill the form here:</p>

      <form action="predict" method="POST">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="Age">Age</label>
            <input type="number" class="form-control" id="Age" placeholder="Age in year (Example: 25)">
          </div>
          <div class="form-group col-md-6">
            <label for="Tenure">Tenure</label>
            <input type="number" class="form-control" id="Tenure"
              placeholder="How long customer have registered (Example: 5)">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="Balance">Balance</label>
            <input type="number" class="form-control" id="Balance"
              placeholder="Current customer Balance in USD (Example: 150000)">
          </div>
          <div class="form-group col-md-6">
            <label for="EstimatedSalary">Estimated Salary</label>
            <input type="number" class="form-control" id="EstimatedSalary"
              placeholder="Customer estimated salary in a year (Example: 50000)">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="CreditScore">Credit Score</label>
            <input type="number" class="form-control" id="CreditScore"
              placeholder="Customer Credit Score (Example: 500)">
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="NumOfProducts">Number of Products</label>
            <input type="number" class="form-control" id="NumOfProducts"
              placeholder="Customer product counts (Example: 3)">
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="Geography">Geography</label>
            <select id="Geography" class="form-control">
              <option selected>Choose...</option>
              <option>France</option>
              <option>Spain</option>
              <option>Germany</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="Gender">Gender</label>
            <select id="Gender" class="form-control">
              <option selected>Choose...</option>
              <option>Female</option>
              <option>Male</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="IsActiveMember">
            <label class="form-check-label" for="IsActiveMember">
              Is Active Member?
            </label>
          </div>
        </div>

        <div class="form-row">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="HasCrCard">
            <label class="form-check-label" for="HasCrCard">
              Has Credit Card?
            </label>
          </div>
        </div>

        <button type="button" class="btn btn-primary">PREDICT!</button>
      </form>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>